@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  margin: 0em 1em;
  padding: 0em 1em;
  /* background-color: white; */
}

.logo,
.logo-wrapper {
  display: flex;
  height: 6em;
  padding: 0px 15px 5px 0px;
}

.icon-wrapper {
  display: flex;
  padding: 0px 15px 0px 0px;
}

.welcome {
  justify-content: center;
  color: rgba(109, 99, 248, 0.5)
}

nav {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 10px 20px 0px 50px;
}

nav a {
  color: rgba(109, 99, 248, 0.5);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}

nav a:hover {
  color: rgba(223, 47, 106, 0.5);
}

.home-container {
  display: grid;
  justify-content: center;
}

.form {
  margin: 4% 5%;
}

.profile {
  margin: 3% 33%;
}

.welcome-signin {
  background-color: #3f69f1;
  border: 0;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1%;
  color: rgb(255, 255, 255);
}

.welcome-signin:hover {
  background-color: #2d489f;
  color: white;
}

.logoimage {
  height: 600px;
}

.about {
  /* background-color: rgba(131, 156, 236, 0.6); */
  padding: 1% 5% 0% 5%;
  color: rgba(109, 99, 248, 0.5);
}

.zodiac{
  height: 20px;
}

.update {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: 4% 15% 0% 15%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0% 0% 0%
}

.container-grid {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 2em;
  justify-content: center;
}

.creature-card img {
  width: 300px;
  height: 300px;
}